@charset "UTF-8";
body{
    background-color: gray;
}

section{
    background-color: white;
    padding: 70px 350px;
    margin : 20px 50px;
    height: 400px;
    color: gray;
}

section h1{
    text-align: center;
    color: #000;
    font-size: 30px;
}

section label{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    margin-bottom: 5px;
}

section input[type="text"]{
    display: block;
    width: 100%;
    text-indent: 10px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;
}

section form .input_name{
    width: 50%;
}

.radio_aria label{
    display: inline-block;
    color: #000;
}

.radio_aria input[type="radio"]{
    background-color: #FFF;
    border-color: gray;
}

.btn_aria{
    margin-top : 20px;
}

.btn_aria input[type="button"]{
    display: inline;
    float: left;
    text-align: center;
    padding: 5px 30px;
    border: 1px solid gray;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: underline;
    
}

.btn_aria input[type="submit"],
.btn_aria input[type="reset"]{
    display: inline;
    float: right;
    padding: 6px 31px;
    border: none;
    text-align: center;
    background-color: skyblue;
    margin-left: 5px;
    color: #FFF;
   
}



