body{
    padding : 50px 100px;
}

h1{
    color: darkslateblue;
    display: inline-block;
    transform: rotate(-20deg);
}

.addBtn{
    padding: 15px 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: cornflowerblue;
    float: right;
    vertical-align: center;
    
      
}
.container{
    margin-top : 30px;
    float: right;
}
.container section{
    float: left;
    width: 450px;
    margin-left: 10px;
    margin-bottom : 20px;
}

.grid-contianer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px;
    grid-auto-rows: 150px;
    grid-row-gap: 10px;
}

.container .item-title{
    background-color: darkcyan;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.container .item-card{
    background-color: cornflowerblue;
    padding: 20px;
}

.item-card a{
    text-decoration: none;
    color: #000000;
    padding: 5px;
    border: 1px solid #e4e4e4;
    background: gray;
}

.done .item-card  button{
	display: none;
}